<div class="container p-4">
<div class="row">
    {{#each links}}
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <a href="{{url}}" target="_blank">
                    <h3 class="card-tittle text uppercase">
                        {{title}}
                    </h3>
                </a>
            <p class="m-2">{{description}}</p>
            <a href="/links/delete/{{ id }}" class="btn btn-danger">Eliminar</a>
            <a href="/links/edit/{{ id }}" class="btn btn-secondary">Editar</a>
            <p>{{timeago created_at}}</p>
            </div>
        </div>
    </div>
    {{else}}
    <div class="col-md-4 mx-auto">
        <card class="card card-body text-center">
            <p>No hay enlaces, crea uno ahora !!</p>
        </card>
    </div>
    
    {{/each}}

</div>
</div>
<div class="container p-3">
    <div class="row">
    <p>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                <h3>
                    <a href="/links/add">Crear un link !!</a>
                </h3>
                </div>
            </div>
        </div>
    </p>
    </div>
</div>